

.headhome {
    background-color:rgb(9, 177, 154);
    color:white;
    margin:auto;
}


.headtoko{
    background-color:rgb(83, 247, 225);
    color:white;
    margin:auto;
}

.album{
    background-color:rgb(9, 177, 154);
} 